@import "partials/mixins";
@import "partials/nav";
@import "partials/main";
@import "partials/header";
@import "partials/footer";

//Light
 @font-face {
  font-family: 'Norwester-Regular';
  src: url('../fonts/JF/Norwester-Regular.otf') format('opentype');
  
}
//Regular
 @font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('../fonts/JF/SourceSansPro-Regular.otf') format('opentype');  
}

 @font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url('../fonts/SourceSansPro-SemiBold.ttf') format('opentype');  
}
 @font-face { 
  font-family: 'Univers-67CondensedBold';
  src: url('../fonts/Univers-67CondensedBold.otf') format('opentype');  
}
 @font-face {
  font-family: 'Univers-47-CondensedLight';
  src: url('../fonts/Univers-47-CondensedLight.otf') format('opentype');  
}

//Bold
 @font-face {
  font-family: 'Univers-CondensedBold';
  src: url('../fonts/Univers-CondensedBold.otf') format('opentype');
   
}
 


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
 

html {

  overflow-x:hidden;
}
body {
  //background: #333333; 
  //font-family: 'LeagueGothicRegular',sans-serif;
  @include body-font();
  font-size:14px;
  line-height: 20px;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x :hidden;
}

 
#nav-container > .container {
  position: relative;
  @include breakpoint(xs){
     padding:0px;
    }
}
#logo {
  position: absolute;
  top: 0;
  background: url('../images/sabres-logo.png') 0 0 no-repeat;
  @include breakpoint(xs){
    width: 217px;
    left: -5px;
    background-size: 220px 60px;
    z-index: 1000;
  }
  @include breakpoint(sm){
    width: 437px;
    left: -20px;
    z-index: 1000;
  }
  @include breakpoint(md){
    width: 437px;
    left: -50px;
    z-index: 0;
  }
  @include breakpoint(lg){
    width: 437px;
    left: -40px;
    z-index: 0;
  }
  a {
    display: block;
    height: 119px;
    @include breakpoint(xs){
      height: 60px; 
    }
  }
}


#main-content {
  //background:#000;
  @include breakpoint(mini){margin:0; }
  span.news-date {
      display: block;
      float: right;
      padding-left: 10px;
      color:#fff;
  }
}
#content-wrap {
  
  @include breakpoint(mini){margin:0; }
}
#content {
  //padding-top: 15px;
  .has-club-logos & {
    padding-top: 0;
  }
}
#sidebar {
  padding-top:15px;
  padding-bottom:15px;
  .has-club-logos & {
    padding-top: 20px;
  }
}

.fsp-adv-social-media {
  list-style: none;
  padding: 0;
  margin: 0;
  @include breakpoint(xs){
    display: none;  
  }
  li {
    display: inline-block;
    margin-left: 5px;
    &.share-title {
      display: none;
      .single & {
        display: inline-block;
        @include featured-font();
        position: relative;
        top: -4px;
      }
    }
    a {
      font-size: 30px;
      @include webfont();
      color: $yellow !important;
      &:hover {
        color: $blue !important;
        text-decoration: none;
      }
    }
  }
}

.lower-section {
  margin-top: 20px;
}

.title-404 {
  display: none;
}