/* line 1, ../sass/partials/_nav.scss */

#nav-container {
	font-family: 'Norwester-Regular';
}

/* line 4, ../sass/partials/_nav.scss */

#nav-container #responsive_current_menu_item {
	display: none;
}

/* line 5, ../sass/partials/_nav.scss */

#nav-container .current_page_item a {
	background: #2F9513; /*   padding: 16px 10px;
      @include breakpoint(md){padding: 16px 10px; }
      @include breakpoint(sm){padding: 12px 8px; }*/
	display: inline-block;
	color: #fff;
}

/* line 14, ../sass/partials/_nav.scss */

#nav-container ul {
	margin: 0;
}

/* line 15, ../sass/partials/_nav.scss */

#nav-container li {
	display: inline-block;
	text-transform: uppercase;
}

/* line 20, ../sass/partials/_nav.scss */

#nav-container li:last-child {
	padding-right: 0;
}

/* line 28, ../sass/partials/_nav.scss */

#nav-container li a {
	color: #414042;
}

/* line 30, ../sass/partials/_nav.scss */

#nav-container li a:hover {
	color: #fff;
	background: #2F9513;
	padding: 16px 10px;
}

/* line 1, ../sass/partials/main.scss */

.content-body {
	background: #2F9513;
	position: relative;
}

/* line 6, ../sass/partials/main.scss */

.content-body .main-category {
	color: #fff;
	text-transform: uppercase;
	font-family: 'Norwester-Regular';
	text-align: center;
}

/* line 65, ../sass/partials/main.scss */

.content-body .main-category .yellow-border {
	border: 1px solid #F9BA15;
	max-width: 150px;
	margin: auto;
}

/* line 86, ../sass/partials/main.scss */

.content-body .choose {
	margin: auto;
	display: inline-block;
}

/* line 105, ../sass/partials/main.scss */

.content-body .box {
	font-family: 'Norwester-Regular';
	text-transform: uppercase;
	color: #414042;
	background: #F9BA15;
	padding: 34px 10px;
	text-align: center;
	max-width: 500px;
	margin: 15px auto;
	width: 100%;
}

/* line 116, ../sass/partials/main.scss */

.content-body .box a:hover {
	color: #414042;
}

/* line 145, ../sass/partials/main.scss */

.content-body .box img {
	max-height: 60px;
}

/* line 164, ../sass/partials/main.scss */

.page-title {
	font-family: 'Norwester-Regular';
	text-transform: uppercase;
	text-align: center;
	color: #2F9513;
}

/* line 173, ../sass/partials/main.scss */

.main-content {
	padding-bottom: 50px;
	font-family: 'Norwester-Regular';
	text-transform: uppercase;
}

/* line 179, ../sass/partials/main.scss */

.icon {
	height: 150px;
	width: 150px;
}

/* line 183, ../sass/partials/main.scss */

.start-browsing {
	text-align: center;
}

/* line 191, ../sass/partials/main.scss */

.start-browsing span {
	color: #2F9513;
	font-family: 'Norwester-Regular';
	display: block;
	text-transform: uppercase;
	padding: 25px 0;
}

/* line 198, ../sass/partials/main.scss */

.start-browsing a {
	background: #F9BA15;
	font-family: 'Norwester-Regular';
	padding: 20px 50px;
	color: #414042;
	display: block;
	margin: auto;
}

/* line 210, ../sass/partials/main.scss */

.extra {
	background: #eee;
	display: inline-block;
	width: 100%;
	margin: 45px 0 0;
	padding: 40px 0;
}

/* line 217, ../sass/partials/main.scss */

.extra p {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: initial;
}

/* line 224, ../sass/partials/main.scss */

.extra .image,
.extra .text {
	vertical-align: middle;
	font-family: 'Norwester-Regular';
	text-transform: uppercase;
}

/* line 240, ../sass/partials/main.scss */

.extra strong {
	font-family: 'Norwester-Regular';
	text-transform: uppercase;
	font-weight: 100;
}

/* line 247, ../sass/partials/main.scss */

.extra .two {
	text-align: left;
}

/* line 252, ../sass/partials/main.scss */

div#to-do-lists {
	padding: 35px 15px;
	border: 6px solid #2f9513;
}

/* line 259, ../sass/partials/main.scss */

div#to-do-lists .border {
	border-bottom: 1px solid #F9BA15;
	padding: 15px 10px;
}

/* line 273, ../sass/partials/main.scss */

div#to-do-lists .two,
div#to-do-lists .three {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: initial;
}

/* line 274, ../sass/partials/main.scss */

div#to-do-lists .two p,
div#to-do-lists .three p {
	margin: 0;
}

/* line 275, ../sass/partials/main.scss */

div#to-do-lists .two a,
div#to-do-lists .three a {
	font-family: 'Source Sans Pro', sans-serif;
	color: #2F9513;
	text-decoration: underline;
}

/* line 298, ../sass/partials/main.scss */

div#to-do-lists .name a {
	padding-right: 100px;
}

/* line 301, ../sass/partials/main.scss */

div#to-do-lists .name {
	display: table-cell;
	vertical-align: middle;
	font-family: 'Norwester-Regular';
	text-transform: uppercase;
	padding-left: 15px;
}

/* line 326, ../sass/partials/main.scss */

div#to-do-lists .step {
	display: table-cell;
	height: 100px;
	width: 100px;
	vertical-align: middle;
	background: #F9BA15;
	font-family: 'Norwester-Regular';
	text-transform: uppercase;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
}

/* line 355, ../sass/partials/main.scss */

ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
	background: #EEEEEE;
}

/* line 366, ../sass/partials/main.scss */

ul.tabs li {
	background: none;
	color: #222;
	display: inline-block;
	padding: 34px 15px;
	cursor: pointer;
	font-family: 'Norwester-Regular';
	text-transform: uppercase;
}

/* line 411, ../sass/partials/main.scss */

ul.tabs li.current {
	background: #2F9513;
	color: #fff;
}

/* line 416, ../sass/partials/main.scss */

.tab-content {
	display: none;
	background: #fff;
	padding: 15px;
}

/* line 425, ../sass/partials/main.scss */

.tab-content.current {
	display: inline-block;
	width: 100%;
}

/* line 429, ../sass/partials/main.scss */

#html5-watermark div {
	display: none;
	background: transparent !important;
}

/* line 432, ../sass/partials/main.scss */

.html5-image {
	padding: 0 !important;
}

/* line 435, ../sass/partials/main.scss */

.divdescription {
	padding: 15px 25px;
	border: 6px solid #2F9513;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: initial;
	text-align: left;
}

/* line 443, ../sass/partials/main.scss */

.divdescription b {
	font-family: 'Norwester-Regular';
	text-transform: uppercase;
	font-weight: 100;
}

/* line 453, ../sass/partials/main.scss */

.wplightbox {
	font-family: 'SourceSansPro-SemiBold';
	text-decoration: underline;
	text-transform: none;
	color: #fff;
}

/* line 456, ../sass/partials/main.scss */

.wplightbox:hover {
	color: #fff;
}

/* line 458, ../sass/partials/main.scss */

.html5-title {
	display: none;
}

/* line 463, ../sass/partials/main.scss */

.divtitle {
	font-size: 27px;
	margin: 0 !important;
	background: #2F9513;
	padding: 30px 0;
	color: #fff;
	z-index: 99999;
	font-family: 'Norwester-Regular';
	text-transform: uppercase;
}

/* line 477, ../sass/partials/main.scss */

.name a {
	padding-right: 100px;
}

/* line 481, ../sass/partials/main.scss */

.mobmenu-content li {
	border-bottom: 1px solid #414042;
}

/* line 484, ../sass/partials/main.scss */

.mobmenu-content a {
	font-family: 'Norwester-Regular' !important;
	text-transform: uppercase !important;
}

/* line 495, ../sass/partials/main.scss */

.chat-mobile {
	display: none !important;
}

/* line 1, ../sass/partials/_header.scss */

header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	vertical-align: middle;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/* line 11, ../sass/partials/_header.scss */

.main-logo img {
	height: auto;
}

/* line 39, ../sass/partials/_header.scss */

#chat-icon img {
	max-height: 180px;
	width: 100%;
}

/* line 1, ../sass/partials/_footer.scss */

#footer {
	background: #fff;
	width: 100%;
	padding: 0;
	border-top: 1px solid #cccc;
}

/* line 27, ../sass/partials/_footer.scss */

#footer .footer-right .item {
	text-align: center;
	color: #464652;
	font-family: 'Univers-Condensed';
	cursor: pointer;
}

/* line 49, ../sass/partials/_footer.scss */

#footer .footer-right .item .f-content div {
	padding-top: 15px;
}

/* line 51, ../sass/partials/_footer.scss */

#footer .footer-right .item .f-content div a {
	color: #464652;
}

/* line 61, ../sass/partials/_footer.scss */

#footer .footer-left-first p {
	font-family: 'Univers-CondensedLight';
	font-size: 42px;
	color: #464652;
	line-height: 50px;
}

/* line 86, ../sass/partials/_footer.scss */

#footer .footer-left-first p span {
	color: #ED1B2F;
}

/* line 91, ../sass/partials/_footer.scss */

#footer .footer-left-second {
	padding-top: 22px;
}

/* line 93, ../sass/partials/_footer.scss */

#footer .footer-left-second p {
	font-family: 'Univers-CondensedLight';
	text-align: center;
}

/* line 120, ../sass/partials/_footer.scss */

#footer .footer-left-third p {
	text-align: center;
	font-family: 'Univers-CondensedLight';
	color: #464652;
}

/* line 141, ../sass/partials/_footer.scss */

.request-call {
	display: none;
}

/* line 143, ../sass/partials/_footer.scss */

.request-call input[type="submit"] {
	background: rgba(0, 0, 0, 0.26);
	padding: 8px 50px !important;
	border: none;
	color: #fff !important;
}

/* line 149, ../sass/partials/_footer.scss */

.request-call input {
	border: none;
	border: 1px solid #fff;
	padding: 8px 20px !important;
	color: #666666 !important;
	font-family: Univers-Condensed !important;
	font-size: 15px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

/* line 160, ../sass/partials/_footer.scss */

.request-call input:focus {
	outline: none;
	border: 1px solid #33A3DC;
}

/* line 165, ../sass/partials/_footer.scss */

.request-call .gform_wrapper .gform_footer {
	text-align: center;
}

/* line 173, ../sass/partials/_footer.scss */

.footer-last {
	background: #464652;
	padding: 15px 25px;
	color: #A2A2A8;
	font-weight: 600;
}

/* line 174, ../sass/partials/_footer.scss */

.footer-last .left {
	text-align: center;
}

/* line 183, ../sass/partials/_footer.scss */

.footer-last a {
	color: #E9E9EA;
	font-weight: 100;
}

/* line 185, ../sass/partials/_footer.scss */

.footer-last .right .main-nav {
	float: right;
}

/* line 188, ../sass/partials/_footer.scss */

.footer-last .right li {
	padding-left: 15px;
}

/* line 190, ../sass/partials/_footer.scss */

.footer-last .right li:after {
	content: '|';
	padding-left: 15px;
}

/* line 193, ../sass/partials/_footer.scss */

.footer-last .right li:after:last-child {
	display: none;
}

/* line 200, ../sass/partials/_footer.scss */

.footer-last .right li a {
	color: #E9E9EA;
}

@font-face {
	font-family: 'Norwester-Regular';
	src: url("../fonts/JF/Norwester-Regular.otf") format("opentype");
}

@font-face {
	font-family: 'SourceSansPro-Regular';
	src: url("../fonts/JF/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
	font-family: 'SourceSansPro-SemiBold';
	src: url("../fonts/SourceSansPro-SemiBold.ttf") format("opentype");
}

@font-face {
	font-family: 'Univers-67CondensedBold';
	src: url("../fonts/Univers-67CondensedBold.otf") format("opentype");
}

@font-face {
	font-family: 'Univers-47-CondensedLight';
	src: url("../fonts/Univers-47-CondensedLight.otf") format("opentype");
}

@font-face {
	font-family: 'Univers-CondensedBold';
	src: url("../fonts/Univers-CondensedBold.otf") format("opentype");
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/* line 45, ../sass/app.scss */

html {
	overflow-x: hidden;
}

/* line 49, ../sass/app.scss */

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
	font-family: 'Univers-CondensedLight';
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	overflow: hidden;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* line 61, ../sass/app.scss */

#nav-container > .container {
	position: relative;
}

/* line 67, ../sass/app.scss */

#logo {
	position: absolute;
	top: 0;
	background: url("../images/sabres-logo.png") 0 0 no-repeat;
}

/* line 92, ../sass/app.scss */

#logo a {
	display: block;
	height: 119px;
}

/* line 105, ../sass/app.scss */

#main-content span.news-date {
	display: block;
	float: right;
	padding-left: 10px;
	color: #fff;
}

/* line 118, ../sass/app.scss */

.has-club-logos #content {
	padding-top: 0;
}

/* line 122, ../sass/app.scss */

#sidebar {
	padding-top: 15px;
	padding-bottom: 15px;
}

/* line 125, ../sass/app.scss */

.has-club-logos #sidebar {
	padding-top: 20px;
}

/* line 130, ../sass/app.scss */

.fsp-adv-social-media {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* line 137, ../sass/app.scss */

.fsp-adv-social-media li {
	display: inline-block;
	margin-left: 5px;
}

/* line 140, ../sass/app.scss */

.fsp-adv-social-media li.share-title {
	display: none;
}

/* line 142, ../sass/app.scss */

.single .fsp-adv-social-media li.share-title {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 700;
	letter-spacing: -1px;
	position: relative;
	top: -4px;
}

/* line 149, ../sass/app.scss */

.fsp-adv-social-media li a {
	font-size: 30px;
	font-family: "webfont";
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #6F2C8E !important;
}

/* line 153, ../sass/app.scss */

.fsp-adv-social-media li a:hover {
	color: #00549c !important;
	text-decoration: none;
}

/* line 161, ../sass/app.scss */

.lower-section {
	margin-top: 20px;
}

/* line 165, ../sass/app.scss */

.title-404 {
	display: none;
}

/*# sourceMappingURL=app.css.map */

@media (min-width: 768px) {

/* line 15, ../sass/partials/_nav.scss */

#nav-container li {
	padding: 0 8px;
}

/* line 30, ../sass/partials/_nav.scss */

#nav-container li a:hover {
	padding: 12px 8px;
}

/* line 28, ../sass/partials/_nav.scss */

#nav-container li a {
	font-size: 20px;
	line-height: 25.8px;
	padding: 12px 8px;
}

/* line 17, ../sass/partials/main.scss */

.content-body .main-category span p {
	font-size: 28px;
	line-height: 39px;
	padding: 25px 0;
	margin: 0;
}

/* line 41, ../sass/partials/main.scss */

.content-body .main-category p {
	font-size: 35px;
	line-height: 41px;
	padding: 20px 0 10px;
	margin: 0;
}

/* line 71, ../sass/partials/main.scss */

.content-body .corner-image {
	text-align: center;
}

/* line 73, ../sass/partials/main.scss */

.content-body .corner-image img {
	max-height: 300px;
}

/* line 86, ../sass/partials/main.scss */

.content-body .choose {
	max-width: 400px;
}

/* line 105, ../sass/partials/main.scss */

.content-body .box {
	font-size: 35px;
	line-height: 40px;
	padding: 20px 10px;
}

/* line 158, ../sass/partials/main.scss */

.page-content {
	padding-bottom: 25px;
}

/* line 164, ../sass/partials/main.scss */

.page-title {
	font-size: 25px;
	line-height: 30px;
	padding: 30px 0;
}

/* line 183, ../sass/partials/main.scss */

.start-browsing {
	padding: 25px;
}

/* line 198, ../sass/partials/main.scss */

.start-browsing a {
	font-size: 35px;
	line-height: 45px;
	max-width: 450px;
}

/* line 224, ../sass/partials/main.scss */

.extra .image,
.extra .text {
	padding-left: 15px;
	display: table-cell;
}

/* line 273, ../sass/partials/main.scss */

div#to-do-lists .two,
div#to-do-lists .three {
	padding: 10px 0;
}

/* line 301, ../sass/partials/main.scss */

div#to-do-lists .name {
	font-size: 23px;
	line-height: 28px;
}

/* line 326, ../sass/partials/main.scss */

div#to-do-lists .step {
	font-size: 17px;
	line-height: 22px;
	height: 75px;
	width: 75px;
}

/* line 355, ../sass/partials/main.scss */

ul.tabs {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

/* line 366, ../sass/partials/main.scss */

ul.tabs li {
	font-size: 30px;
	line-height: 35px;
	padding: 16px 15px;
	text-align: center;
	width: 50%;
}

/* line 489, ../sass/partials/main.scss */

h1,
.h1 {
	font-size: 36px;
}

/* line 1, ../sass/partials/_header.scss */

header {
	height: 90px;
}

/* line 11, ../sass/partials/_header.scss */

.main-logo img {
	width: 150px;
}

/* line 17, ../sass/partials/_header.scss */

.website-header {
	margin: 0;
	padding: 21px 50px;
}

/* line 31, ../sass/partials/_header.scss */

#chat-icon {
	position: fixed;
	top: 50%;
	right: 0;
	z-index: 999;
}

/* line 10, ../sass/partials/_footer.scss */

#footer .footer-left {
	padding: 25px 25px 15px;
	border-right: 1px solid #cccc;
}

/* line 27, ../sass/partials/_footer.scss */

#footer .footer-right .item {
	border-right: 1px solid #cccc;
	vertical-align: middle;
	display: inline-grid;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/* line 38, ../sass/partials/_footer.scss */

#footer .footer-right .item:last-child {
	border: none;
}

/* line 61, ../sass/partials/_footer.scss */

#footer .footer-left-first p {
	font-size: 21px;
	line-height: 31px;
	text-align: center;
}

/* line 93, ../sass/partials/_footer.scss */

#footer .footer-left-second p {
	font-size: 18px;
	line-height: 25px;
}

/* line 113, ../sass/partials/_footer.scss */

#footer .footer-left-third {
	padding-top: 25px;
}

/* line 120, ../sass/partials/_footer.scss */

#footer .footer-left-third p {
	font-size: 18px;
	line-height: 25px;
}

/* line 67, ../sass/app.scss */

#logo {
	width: 437px;
	left: -20px;
	z-index: 1000;
}

}

@media (min-width: 992px) {

/* line 15, ../sass/partials/_nav.scss */

#nav-container li {
	padding: 0 15px;
}

/* line 30, ../sass/partials/_nav.scss */

#nav-container li a:hover {
	padding: 16px 10px;
}

/* line 28, ../sass/partials/_nav.scss */

#nav-container li a {
	font-size: 24px;
	line-height: 28.8px;
	padding: 16px 10px;
}

/* line 1, ../sass/partials/main.scss */

.content-body {
	height: 91vh;
}

/* line 17, ../sass/partials/main.scss */

.content-body .main-category span p {
	font-size: 40px;
	line-height: 50px;
	padding: 15px 0;
}

/* line 41, ../sass/partials/main.scss */

.content-body .main-category p {
	font-size: 50px;
	line-height: 62px;
	padding: 15px 0;
}

/* line 73, ../sass/partials/main.scss */

.content-body .corner-image img {
	max-height: 300px;
}

/* line 86, ../sass/partials/main.scss */

.content-body .choose {
	max-width: 400px;
}

/* line 105, ../sass/partials/main.scss */

.content-body .box {
	font-size: 40px;
	line-height: 52px;
	padding: 25px 10px;
}

/* line 164, ../sass/partials/main.scss */

.page-title {
	font-size: 25px;
	line-height: 30px;
	padding-bottom: 30px;
}

/* line 173, ../sass/partials/main.scss */

.main-content {
	padding: 20px 50px;
}

/* line 198, ../sass/partials/main.scss */

.start-browsing a {
	font-size: 48px;
	line-height: 60px;
	max-width: 550px;
}

/* line 232, ../sass/partials/main.scss */

.extra .extra-inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	vertical-align: middle;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/* line 301, ../sass/partials/main.scss */

div#to-do-lists .name {
	font-size: 29px;
	line-height: 37px;
}

/* line 326, ../sass/partials/main.scss */

div#to-do-lists .step {
	font-size: 25px;
	line-height: 29px;
	height: 100px;
	width: 100px;
}

/* line 366, ../sass/partials/main.scss */

ul.tabs li {
	font-size: 38px;
	line-height: 45px;
	padding: 16px 15px;
	text-align: center;
}

/* line 435, ../sass/partials/main.scss */

.divdescription {
	font-size: 18px;
	line-height: 25px;
}

/* line 443, ../sass/partials/main.scss */

.divdescription b {
	font-size: 40px;
	line-height: 50px;
}

/* line 459, ../sass/partials/main.scss */

.html5-elem-box,
.html5-elem-wrap {
	height: 587px !important;
}

/* line 463, ../sass/partials/main.scss */

.divtitle {
	font-size: 55px !important;
	line-height: 65px;
	text-align: center;
}

/* line 489, ../sass/partials/main.scss */

h1,
.h1 {
	font-size: 40px;
}

/* line 1, ../sass/partials/_header.scss */

header {
	height: 100px;
}

/* line 11, ../sass/partials/_header.scss */

.main-logo img {
	width: 187px;
}

/* line 17, ../sass/partials/_header.scss */

.website-header {
	margin: 0;
	padding: 21px 80px;
}

/* line 10, ../sass/partials/_footer.scss */

#footer .footer-left {
	padding: 65px 25px 15px;
}

/* line 61, ../sass/partials/_footer.scss */

#footer .footer-left-first p {
	font-size: 35px;
	line-height: 42px;
}

/* line 113, ../sass/partials/_footer.scss */

#footer .footer-left-third {
	padding-top: 25px;
}

/* line 67, ../sass/app.scss */

#logo {
	width: 437px;
	left: -50px;
	z-index: 0;
}

}

@media (min-width: 1200px) {

/* line 6, ../sass/partials/main.scss */

.content-body .main-category {
	position: absolute;
	top: 50%;
	z-index: 99;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* line 17, ../sass/partials/main.scss */

.content-body .main-category span p {
	font-size: 48px;
	line-height: 57px;
	padding: 20px 0;
}

/* line 41, ../sass/partials/main.scss */

.content-body .main-category p {
	font-size: 60px;
	line-height: 72px;
	padding: 20px 0;
}

/* line 73, ../sass/partials/main.scss */

.content-body .corner-image img {
	max-height: 400px;
}

/* line 71, ../sass/partials/main.scss */

.content-body .corner-image {
	position: absolute;
	bottom: 0;
	right: 0;
}

/* line 86, ../sass/partials/main.scss */

.content-body .choose {
	max-width: 500px;
}

/* line 105, ../sass/partials/main.scss */

.content-body .box {
	font-size: 50px;
	line-height: 62px;
	padding: 34px 10px;
}

/* line 153, ../sass/partials/main.scss */

.content-body-inner {
	padding: 40px 0 60px;
}

/* line 158, ../sass/partials/main.scss */

.page-content {
	padding-bottom: 30px;
}

/* line 164, ../sass/partials/main.scss */

.page-title {
	font-size: 30px;
	line-height: 37px;
	padding-bottom: 35px;
}

/* line 183, ../sass/partials/main.scss */

.start-browsing {
	padding: 45px;
}

/* line 191, ../sass/partials/main.scss */

.start-browsing span {
	font-size: 45px;
	line-height: 55px;
}

/* line 259, ../sass/partials/main.scss */

div#to-do-lists .border {
	padding: 15px 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	vertical-align: middle;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/* line 273, ../sass/partials/main.scss */

div#to-do-lists .two,
div#to-do-lists .three {
	padding: 10px 20px;
}

/* line 273, ../sass/partials/main.scss */

div#to-do-lists .two,
div#to-do-lists .three {
	font-size: 18px;
	line-height: 24px;
}

/* line 366, ../sass/partials/main.scss */

ul.tabs li {
	font-size: 45px;
	line-height: 55px;
	padding: 34px 25px;
	text-align: center;
}

/* line 489, ../sass/partials/main.scss */

h1,
.h1 {
	font-size: 46px;
}

/* line 1, ../sass/partials/_header.scss */

header {
	height: 120px;
}

/* line 17, ../sass/partials/_header.scss */

.website-header {
	margin: 0;
	padding: 21px 100px;
}

/* line 10, ../sass/partials/_footer.scss */

#footer .footer-left {
	padding: 50px 25px 40px;
}

/* line 61, ../sass/partials/_footer.scss */

#footer .footer-left-first p {
	font-size: 42px;
	line-height: 50px;
}

/* line 93, ../sass/partials/_footer.scss */

#footer .footer-left-second p {
	font-size: 26px;
	line-height: 30px;
}

/* line 120, ../sass/partials/_footer.scss */

#footer .footer-left-third p {
	font-size: 26px;
	line-height: 30px;
}

/* line 67, ../sass/app.scss */

#logo {
	width: 437px;
	left: -40px;
	z-index: 0;
}

}

@media (min-width: 1500px) {

/* line 73, ../sass/partials/main.scss */

.content-body .corner-image img {
	max-height: 500px;
}

/* line 240, ../sass/partials/main.scss */

.extra strong {
	font-size: 38px;
	line-height: 45px;
}

/* line 366, ../sass/partials/main.scss */

ul.tabs li {
	font-size: 45px;
	line-height: 55px;
	padding: 34px 10px;
	text-align: center;
}

}

@media (min-width: 1700px) {

/* line 73, ../sass/partials/main.scss */

.content-body .corner-image img {
	max-height: 600px;
}

/* line 105, ../sass/partials/main.scss */

.content-body .box {
	font-size: 60px;
	line-height: 72px;
}

/* line 153, ../sass/partials/main.scss */

.content-body-inner {
	padding: 50px 0 60px;
}

/* line 158, ../sass/partials/main.scss */

.page-content {
	padding-bottom: 40px;
}

/* line 164, ../sass/partials/main.scss */

.page-title {
	font-size: 36px;
	line-height: 43px;
	padding-bottom: 40px;
}

/* line 183, ../sass/partials/main.scss */

.start-browsing {
	padding: 55px;
}

/* line 191, ../sass/partials/main.scss */

.start-browsing span {
	font-size: 60px;
	line-height: 72px;
}

/* line 198, ../sass/partials/main.scss */

.start-browsing a {
	font-size: 60px;
	line-height: 72px;
	max-width: 650px;
}

/* line 240, ../sass/partials/main.scss */

.extra strong {
	font-size: 40px;
	line-height: 48px;
}

/* line 273, ../sass/partials/main.scss */

div#to-do-lists .two,
div#to-do-lists .three {
	font-size: 22px;
	line-height: 27px;
}

/* line 301, ../sass/partials/main.scss */

div#to-do-lists .name {
	font-size: 34px;
	line-height: 40px;
}

/* line 326, ../sass/partials/main.scss */

div#to-do-lists .step {
	font-size: 31px;
	line-height: 34px;
}

/* line 366, ../sass/partials/main.scss */

ul.tabs li {
	font-size: 50px;
	line-height: 60px;
	padding: 30px 15px;
	text-align: center;
}

}

@media (max-width: 767px) {

/* line 17, ../sass/partials/main.scss */

.content-body .main-category span p {
	font-size: 24px;
	line-height: 35px;
	padding: 25px 0;
	margin: 0;
}

/* line 41, ../sass/partials/main.scss */

.content-body .main-category p {
	font-size: 30px;
	line-height: 36px;
	padding: 20px 0 10px;
	margin: 0;
}

/* line 86, ../sass/partials/main.scss */

.content-body .choose {
	max-width: 90%;
}

/* line 105, ../sass/partials/main.scss */

.content-body .box {
	font-size: 30px;
	line-height: 36px;
	padding: 20px 10px;
	margin: 7px auto;
}

/* line 145, ../sass/partials/main.scss */

.content-body .box img {
	max-height: 30px;
}

/* line 153, ../sass/partials/main.scss */

.content-body-inner {
	padding-top: 20px;
}

/* line 164, ../sass/partials/main.scss */

.page-title {
	font-size: 25px;
	line-height: 30px;
	padding-bottom: 30px;
}

/* line 179, ../sass/partials/main.scss */

.icon {
	height: 50px;
	width: 50px;
}

/* line 183, ../sass/partials/main.scss */

.start-browsing {
	padding: 25px;
}

/* line 198, ../sass/partials/main.scss */

.start-browsing a {
	font-size: 25px;
	line-height: 30px;
	max-width: 100%;
	padding: 15px 10px;
}

/* line 210, ../sass/partials/main.scss */

.extra {
	padding: 20px 0;
}

/* line 221, ../sass/partials/main.scss */

.extra .image {
	text-align: center;
	padding-bottom: 15px;
}

/* line 252, ../sass/partials/main.scss */

div#to-do-lists {
	padding: 0;
}

/* line 273, ../sass/partials/main.scss */

div#to-do-lists .two,
div#to-do-lists .three {
	padding: 10px 0;
}

/* line 273, ../sass/partials/main.scss */

div#to-do-lists .two,
div#to-do-lists .three {
	padding: 10px 15px;
	text-align: center;
}

/* line 301, ../sass/partials/main.scss */

div#to-do-lists .name {
	font-size: 20px;
	line-height: 23px;
}

/* line 326, ../sass/partials/main.scss */

div#to-do-lists .step {
	height: 50px;
	width: 50px;
	font-size: 12px;
	line-height: 14px;
}

/* line 366, ../sass/partials/main.scss */

ul.tabs li {
	font-size: 20px;
	line-height: 24px;
	padding: 15px 15px;
	text-align: center;
}

/* line 416, ../sass/partials/main.scss */

.tab-content {
	padding: 0;
}

/* line 489, ../sass/partials/main.scss */

h1,
.h1 {
	font-size: 25px;
}

/* line 497, ../sass/partials/main.scss */

.chat-mobile a {
	color: transparent !important;
	font-size: 0 !important;
	padding: 27px 20px !important;
}

/* line 495, ../sass/partials/main.scss */

.chat-mobile {
	display: block !important;
	position: absolute;
	bottom: 0;
	border: none;
	width: 100%;
	height: 60px;
	background: #414042 url("../images/chatmenu.svg") no-repeat;
	background-position: center;
}

/* line 1, ../sass/partials/_header.scss */

header {
	display: none;
}

/* line 31, ../sass/partials/_header.scss */

#chat-icon {
	display: none;
}

/* line 10, ../sass/partials/_footer.scss */

#footer .footer-left {
	padding: 25px 25px 15px;
}

/* line 27, ../sass/partials/_footer.scss */

#footer .footer-right .item {
	border-top: 1px solid #cccc;
	padding: 15px 0;
	height: 100% !important;
}

/* line 61, ../sass/partials/_footer.scss */

#footer .footer-left-first p {
	text-align: center;
	font-size: 27px;
	line-height: 40px;
}

/* line 93, ../sass/partials/_footer.scss */

#footer .footer-left-second p {
	text-align: center;
	font-size: 18px;
	line-height: 35px;
}

/* line 120, ../sass/partials/_footer.scss */

#footer .footer-left-third p {
	text-align: center;
	font-size: 18px;
	line-height: 35px;
}

/* line 174, ../sass/partials/_footer.scss */

.footer-last .left {
	text-align: center;
}

/* line 61, ../sass/app.scss */

#nav-container > .container {
	padding: 0px;
}

/* line 67, ../sass/app.scss */

#logo {
	width: 217px;
	left: -5px;
	-webkit-background-size: 220px 60px;
	-moz-background-size: 220px 60px;
	-o-background-size: 220px 60px;
	background-size: 220px 60px;
	z-index: 1000;
}

/* line 92, ../sass/app.scss */

#logo a {
	height: 60px;
}

/* line 130, ../sass/app.scss */

.fsp-adv-social-media {
	display: none;
}

}

@media (max-width: 650px) {

/* line 102, ../sass/app.scss */

#main-content {
	margin: 0;
}

/* line 112, ../sass/app.scss */

#content-wrap {
	margin: 0;
}

}

