#footer {
    background: #fff;
   // display: inline-block;
    width: 100%;
    padding: 0;
   
    //padding: 25px;
    border-top: 1px solid #cccc;
 
    .footer-left{
    	@include breakpoint(lg){
    		padding: 50px 25px 40px;
    	}
    	@include breakpoint(md){
    		padding: 65px 25px 15px;
    	}
    	@include breakpoint(sm){
    		padding: 25px 25px 15px;
    		border-right: 1px solid #cccc;
    	}
    	@include breakpoint(xs){
    		padding: 25px 25px 15px;
    	}
    	
    }
    .footer-right {
    	.item {
    		text-align: center;
    		color: #464652;
    		font-family: 'Univers-Condensed';
    		cursor: pointer;
    		@include breakpoint(sm){
    		border-right: 1px solid #cccc;
    		
    		vertical-align: middle;
		    display:inline-grid;
		    align-items: center;
		    &:last-child {
    			border:none;
    		}
		}
		@include breakpoint(xs){
			border-top: 1px solid #cccc;
			padding:15px 0;
			height: 100% !important;
		}
		   
    		
    		.f-content div {
    			padding-top:15px;
    			a{
    			color: #464652;
    			
    			}
    		}
 			
    		
    	}
    }
    .footer-left-first {
    	p {
    		
	    	font-family: 'Univers-CondensedLight';
	    	font-size: 42px;
	    	color: #464652;
	    	line-height: 50px;

	    	@include breakpoint(lg){
	    		font-size: 42px;
	    		line-height: 50px;
	    	}
	    	@include breakpoint(md){
	    		font-size: 35px;
	    		line-height: 42px;
	    	}
	    	@include breakpoint(sm){
	    		font-size: 21px;
    			line-height: 31px;
    			text-align: center;
	    	}
	    	@include breakpoint(xs){
	    		text-align: center;
	    		    font-size: 27px;
    			line-height: 40px;
	    	}
	    	span { color: #ED1B2F; }
    	}
    	
    }

    .footer-left-second {
    	padding-top: 22px;
    	p{
    		font-family: 'Univers-CondensedLight';
    		text-align: center;
    		
    		@include breakpoint(lg){
	    		font-size: 26px;
    			line-height: 30px;
	    	}
	    	@include breakpoint(sm){
	    		font-size: 18px;
    			line-height: 25px;
	    	}
	    	@include breakpoint(xs){
	    		text-align: center;
	    		font-size: 18px;
    			line-height: 35px;
	    	}
    	}
    }

    .footer-left-third {
    	@include breakpoint(md){
    		padding-top:25px;
    	}
    	@include breakpoint(sm){
    		padding-top:25px;
    	}
    	p{
    		text-align: center;
	    	font-family: 'Univers-CondensedLight';
	    	color: #464652;
	    	@include breakpoint(lg){
	    		font-size: 26px;
    			line-height: 30px;
	    	}
	    	@include breakpoint(sm){
	    		font-size: 18px;
    			line-height: 25px;
	    	}
	    	@include breakpoint(xs){
	    		text-align: center;
	    		font-size: 18px;
    			line-height: 35px;
	    	}
    	}
    }
}

.request-call {
	display: none;
	input[type="submit"] {
		background: rgba(0, 0, 0, 0.26);
		padding:8px 50px !important;
		border:none;
		color: #fff !important;
	}
	input {
		border:none;
	//	background: rgba(0, 0, 0, 0.26);
			@include placeholder;
			border: 1px solid #fff;
			padding: 8px 20px !important;
			color: #666666 !important;
			font-family: Univers-Condensed !important;
		    
		    font-size: 15px;
		    border-radius: 8px;
		    &:focus {
			outline: none;
			border: 1px solid #33A3DC; 
		}
	}
	.gform_wrapper .gform_footer {
		text-align:center;

	 
	}
}


.footer-last {
	.left { text-align: center;
		@include breakpoint(xs){
			text-align: center;
		}
	}
	background: #464652;
	padding: 15px 25px;
	color: #A2A2A8;
	font-weight: 600;
	a {    color: #E9E9EA; font-weight: 100;}
	.right {
		.main-nav {
			float:right;
		}
		li {
			padding-left: 15px;
			&:after {
				content: '|';
				padding-left: 15px;
					&:last-child 
					{
						display: none; 
					}
			}

		}
		li a {
			color:#E9E9EA;
		}
	}
}


