#nav-container {

font-family: 'Norwester-Regular';
  #responsive_current_menu_item { display: none; }
  .current_page_item a {
        background: #2F9513;
     /*   padding: 16px 10px;
         @include breakpoint(md){padding: 16px 10px; }
         @include breakpoint(sm){padding: 12px 8px; }*/
         display: inline-block;
         color: #fff;
     
  }
  ul { margin: 0; }
  li {
        display: inline-block;
        @include breakpoint(md){ padding: 0 15px; }
         @include breakpoint(sm){ padding: 0 8px; }
        text-transform: uppercase;
        &:last-child {
          padding-right:0;
        }
        &:hover {
            
        }
    }

    li a {
      color: #414042;
      &:hover {
        color: #fff;
        background: #2F9513;
        padding: 16px 10px;  
         @include breakpoint(md){
          padding: 16px 10px;  
         }
         @include breakpoint(sm){
          padding: 12px 8px;  
         }
    
      }
       
      @include breakpoint(md){
        font-size: 24px;
        line-height: 28.8px;
        padding: 16px 10px;  
      }
       @include breakpoint(sm){
        font-size: 20px;
        line-height: 25.8px;
        padding: 12px 8px;  
      }
    }
}